ModuleNotFoundError: No module named 'IPyton'

In [28]:
import pandas as pd
import sqlite3
import math
import datetime
import numpy as np
import matplotlib.pyplot as plt

In [29]:
conn = sqlite3.connect('database.db')

In [30]:
c = conn.cursor()

In [33]:
df = pd.read_csv("perpus.csv")
df

    tahun  bulan       jenis                  perpustakaan  jumlah
0    2019      1  Pengunjung                        CIKINI    5797
1    2019      1  Pengunjung                      KUNINGAN    5191
2    2019      1  Pengunjung      KPAK Jakpus (Stationary)    2459
3    2019      1  Pengunjung         KPAK Jakpus (Pusling)    1509
4    2019      1  Pengunjung           KPAK Jakpus (RPTRA)   32754
5    2019      1  Pengunjung      KPAK Jaktim (Stationary)     582
6    2019      1  Pengunjung         KPAK Jaktim (Pusling)   27078
7    2019      1  Pengunjung           KPAK Jaktim (RPTRA)   32081
8    2019      1  Pengunjung      KPAK Jakbar (Stationary)    4523
9    2019      1  Pengunjung         KPAK Jakbar (Pusling)   19634
10   2019      1  Pengunjung           KPAK Jakbar (RPTRA)   43753
11   2019      1  Pengunjung      KPAK Jaksel (Stationary)    2155
12   2019      1  Pengunjung         KPAK Jaksel (Pusling)    8259
13   2019      1  Pengunjung           KPAK Jaksel (RPTRA)      39
14   2019      1  Pengunjung       KPAK Jakut (Stationary)    3526
15   2019      1  Pengunjung          KPAK Jakut (Pusling)   15022
16   2019      1  Pengunjung            KPAK Jakut (RPTRA)   56287
17   2019      1  Pengunjung  KPAK Pulau 1000 (Stationary)    6015
18   2019      1  Pengunjung       KPAK Pulau 1000 (RPTRA)   14273
19   2019      1  Pengunjung                     Permata 1       0
20   2019      1  Pengunjung                     Permata 2      78
21   2019      1  Pengunjung                     HB Jassin     195
22   2019      1    Pengguna                      iJakarta    2204